@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", sans-serif;
  
  --color-primary: #ff751f;
  --color-surface-dark: var(--bg-color);
  --color-surface-card: var(--card-color);
  --color-surface-border: var(--border-color);
  --color-text-main: var(--text-color);
  --color-shadow-main: var(--shadow-color);
}

:root {
  --bg-color: #000000;
  --card-color: #111111;
  --border-color: #222222;
  --text-color: #ffffff;
  --shadow-color: #ffffff;
}

.theme-light {
  --bg-color: #ffffff;
  --card-color: #f3f3f3;
  --border-color: #dddddd;
  --text-color: #000000;
  --shadow-color: #000000;
}

@layer base {
  body {
    @apply bg-surface-dark text-text-main font-sans antialiased selection:bg-primary selection:text-black;
    background-image: radial-gradient(circle at 1px 1px, rgba(255,255,255,0.02) 1px, transparent 0);
    background-size: 30px 30px;
  }
}

.heading-dynamic {
  @apply font-display font-black uppercase tracking-tighter;
}

.button-primary {
  @apply bg-primary text-black font-extrabold py-4 px-8 flex items-center gap-2 hover:bg-white hover:text-black transition-all duration-300 uppercase tracking-widest text-sm;
}

.card-service {
  @apply bg-surface-card border border-surface-border p-10 hover:border-primary transition-all duration-500 relative overflow-hidden;
}
